html,
body {
    overflow-x: hidden;
    font-family: "Bold", sans-serif;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li,
button,
img {
    cursor: pointer;
}

@font-face {
    font-family: "Bold";
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Italic";
    src: url(../font/Roboto-Italic.ttf);
}

@font-face {
    font-family: "Thin";
    src: url(../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Medium";
    src: url(../font/Roboto-Medium.ttf);
}

body {
    background-color: #272727;
}

section {
    padding: 20px;
}

section .center {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    text-align: start;
}

section .center ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;
}

section .center ul li {
    font-size: 15px;
    color: #fff;
    font-family: "Bold";
}

section .center ul li:hover {
    border-bottom: 2px solid rgb(70, 163, 212);
    transition: 0.3s ease-in;
    width: max-content;
}

section .icon {
    position: absolute;
    top: 2%;
    left: 92%;
}

section .icon i {
    font-size: 30px;
    color: #fff;
}